@model BlackJack.BusinessLogic.ViewModels.StartGameViewModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">

    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Select numbers of Bots</label>
        <div class="col-md-10">
            @Html.DropDownList("bots", Model.NumberOfBots, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">Choose NickName</label>
        <div class="col-md-10">
            @Html.DropDownList("name", Model.Players, new { @class = "form-control playersDropDown" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 ">
            <input type="submit" class="btn btn-success" value="Start" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-5 ">
            @Html.ActionLink("History", "ChoosePlayer", "History", new { }, new { @class = "form-control btn btn-link" })
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/mybundle")
    <script src="~/Scripts/playersDropDown.js"></script>

}
